@import "partials/mixins.scss";
@import "partials/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background-image: url(images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: top -20% right 95%;
}

header {
  width: 85%;
  margin: 40px auto 185px auto;

  img {
    padding-bottom: 57px;
  }

  h1 {
    font-size: 40px;
    padding-bottom: 20px;
  }

  p {
    font-size: 17px;
  }
}

main {
  height: 500px;
  background-image: url(images/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: $primary_black;
  background-position: top 0% left 50%;
  position: relative;
  border-radius: 10px 10px 0 0;
  margin-bottom: 475px;

  img {
    width: 59%;
    height: auto;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%);
  }

  .subscription-container {
    background-color: $primary_dark_orange;
    position: absolute;
    bottom: -425px;
    padding: 40px 40px;
    border-radius: 10px 10px;
    color: $primary_white;

    h2 {
      padding-bottom: 20px;
      font-size: 33px;
    }

    p {
      line-height: 25px;
      padding-bottom: 20px;
    }

    .pricing-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 25px;
      padding-bottom: 20px;

      span {
        font-size: 60px;
        font-weight: bold;
      }

      p {
        padding: 0;
      }
    }

    .ios-button {
      @include buttonStyle;
      background-color: $primary_black;

      &:hover {
        background-color: $primary_green;
      }
    }
    .android-button {
      @include buttonStyle;
      background-color: $primary_white;
      color: $primary_black;

      &:hover {
        background-color: $primary_orange;
      }
    }
  }
}

footer {
  padding: 15px 53px 40px 25px;

  img {
    padding-bottom: 25px;
  }

  p {
    padding-bottom: 10px;
  }

  span {
    font-weight: bold;
  }

  .icon-container {
    margin-top: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    img {
      transition: all 0.2s linear;

      &:hover {
        filter: brightness(0) saturate(100%) invert(54%) sepia(20%)
          saturate(1546%) hue-rotate(324deg) brightness(101%) contrast(96%);
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  body {
    background-image: url(images/bg-pattern-1.svg),
      url(images/bg-main-tablet.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 33%, 125%;
    background-position: right -6% top -2%, top -8% right 15%;
  }

  header {
    width: 85%;

    h1 {
      max-width: 350px;
    }
    p {
      max-width: 481px;
    }
  }

  main {
    width: 85%;
    margin: auto;
    background-size: 240px;
    background-position: top -27% left 65%;
    border-radius: 10px;
    margin-bottom: 300px;

    img {
      width: 230px;
      height: auto;
      position: absolute;
      top: -100px;
      left: 150px;
    }

    .subscription-container {
      bottom: -164px;
      right: 30px;
      width: 350px;
    }
  }

  footer {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 45px 0;

    .footer-text-container {
      width: 322px;
    }

    .icon-container {
      align-self: flex-end;

      img {
        width: 25px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  body {
    background-image: url(images/bg-pattern-1.svg),
      url(images/bg-main-desktop.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 25%, 125%;
    background-position: right 0% top -2%, top -130px right -45px;
  }

  header {
    width: 80%;
    margin: 40px auto 224px auto;
    h1 {
      max-width: 540px;
      font-size: 55px;
    }

    p {
      max-width: 564px;
    }
  }

  main {
    width: 80%;
    background-position: top -36px left 240px;
    margin-bottom: 200px;

    img {
      top: -150px;
      left: 185px;
    }

    .subscription-container {
      bottom: -115px;
      right: 60px;
    }
  }

  footer {
    width: 80%;
    .footer-logo-text-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 100px;

      img {
        align-self: flex-start;
      }
    }
    .icon-container {
      padding-bottom: 25px;
    }
  }
}
